# =========================
# Project specific
# =========================

coverage/
.nyc_output/

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea/

# Visual Code
.vscode/

# =========================
# node.js
# =========================
node_modules/
coverage/

# =========================
# npm
# =========================
package-lock.json
