# =========================
# Project specific
# =========================

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea/

# Visual Code
.vscode/

# =========================
# node.js
# =========================
node_modules/
coverage/
